.document-page-header-container {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  border: 1.5px solid #e0e0e0;
  border-radius: 5px;
}

.document-page-header-filters {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: auto;
  margin-right: 20px;
}

.document-page-header-actions {
  margin-top: 22px;
}

.document-type-filter {
  min-width: 200px;
}

.recipient-filter {
  min-width: 250px;
}

.search-button {
  margin-top: 32px;
  min-width: 100px;
  margin-left: auto;
}