.participant-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  border: 1.5px solid #e0e0e0;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.search-input {
  margin-top: 10px;
  margin-bottom: 4px;
  flex: 1;
}

.add-button {
  margin-top: 10px;
  margin-bottom: 4px;
  width: 37px;
  height: 37px;
  flex-shrink: 0;
}

.participant-scroll-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.participant-item {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #e0e0e0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  background-color: #8f8f8f31;
}

.participant-item:hover {
    background-color: #52504331;
    cursor: pointer;
  }

.participant-item.selected {
    background-color: #9380ff31;
    border-color: #007bff;
  }

.participant-item.creating:hover {
  cursor: not-allowed;
}

.participant-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.participant-identification-number {
  font-size: 0.8rem;
  color: #666;
  margin: 0;
}

.loading-spinner {
  margin-top: 50px;
  margin-left: 35%;
}